.main-section .logo {
  height: 100px;
}

.inline-title, .calendar h2 {
  display: block;
  line-height: 32px;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: rgba(0,0,0,0.87);
  margin-top: 0;
}

.main-section {
  width: 480px;
  margin: 48px auto;
  text-align: center;
  display: block;
}

.mdl-grid, .mdl-cell {
  margin: 0;
  padding: 0;
}

#results .mdl-card .loader-box {
  text-align: center;
  padding: 90px 0;
}

#results {
  margin-top: 10px;
  text-align: left;
}

#results .mdl-card {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  min-height: unset;
}

#results > h4 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.rel-logo {
  position: relative;
}

.card-logo {
  position: absolute;
  right: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.wa-pod {
  margin-top: 15px;
  margin-bottom: 0;
}

.main-section #search-bar {
  margin-top: 30px;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
          box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  -webkit-transition: -webkit-box-shadow 0.1s linear;
  transition: -webkit-box-shadow 0.1s linear;
  -o-transition: box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear, -webkit-box-shadow 0.1s linear;
}

.main-section #search-bar:hover, .main-section #search-bar.hover {
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
          box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.main-section #search-bar i {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-section #search-bar input {
  display: block;
  width: 100%;
  height: 43px;
  padding: 5px 16px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;

  height: 40px;
  padding: 5px 16px;
  font-size: 16px;
  color: #000;
  position: relative;
  border: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #f5f5f5;
}


#results > .mdl-card > .mdl-card__title {
  height: 200px;
  background: center / cover;
  color: #FFF;
}

.demo-card-event.mdl-card {
  background: #3E4EB8;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}

.feature-boxes {
  font-size: 0;
  position: relative;
  margin-left: -5px;
  margin-right: -5px;
}

.feature-box .mdl-card {
  margin-bottom: 0 !important;
}

.feature-boxes .feature-box {
  width: 50%;
  display: inline-block;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mdl-card__supporting-text {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.timezone {
  padding: 40px 0;
  text-align: center;
}

.timezone h1 {
  display: block;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: rgba(0,0,0,0.87);
  margin: 0;
}

.timezone p {
  display: block;
  line-height: 32px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 22px;
}

.conversion-widget {
  padding: 20px 10px;
  position: relative;
}

.conversion-widget .feature-box {
  padding: 0 30px;
}

.conversion-widget .cw-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 16px;
  font-family: "Helvetica","Arial",sans-serif;
  font-weight: normal;
}

body {
  overflow: hidden;
}